# Django Settings
DJANGO_SECRET_KEY=votre_secret_key_ici_tres_longue_et_securisee
DEBUG=True

# Database Settings
MYSQL_PASSWORD=votre_mot_de_passe_mysql_ici

# OpenAI Configuration
OPENAI_API_KEY=votre_cle_api_openai_ici
